name: Upload SBOM
on:
  push:
    branches: [main]

jobs:
  upload-sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Upload SBOM
        uses: sbomify/github-action@master
        env:
          TOKEN: ${{ secrets.SBOMIFY_TOKEN }}
          COMPONENT_ID: 'N98g1tf0jyg2'
          COMPONENT_NAME: 'ipgeolocation'
          COMPONENT_VERSION: ${{ github.ref_type == 'tag' && github.ref_name || format('{0}-{1}', github.ref_name, github.sha) }}
          LOCK_FILE: 'Cargo.lock'
          AUGMENT: true
          ENRICH: true
          OUTPUT_FILE: sbom.cdx.json
